.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*

# Ignore bundler config.
Gemfile.lock
/.bundle

# Ignore all bundle gems and Pods
/vendor/bundle/
/vendor/Pods/
/vendor/Podfile.lock

# Ignore .DS_Store
.DS_Store

# Ignore swap file
*.swp

# Ignore .dropbox
.dropbox

# Ignore "Icon\r"
Icon^M^M
